
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link href="~/css/ErrorInitialization.css" rel="stylesheet" />
    <link href="~/css/404ErrorPage.css" rel="stylesheet" />
</head>
<body>
    <section>
        <div class="Subject-Background-Picture">
            <a href="/Home/Index">首页</a>
            <a href="javascript:history.go(-1)">返回</a>
        </div>
    </section>
</body>
</html>