<div id="echarts" style="width: 600px;height:400px;"></div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('echarts'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'ECharts'
        },
        tooltip: {},
        legend: {
            data: ['占比']
        },
        xAxis: {
            data: ["PHP", ".NET", "JAVA", "PYTHON", "GO", "C"]
        },
        yAxis: {},
        series: [{
            name: '占比',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>