@model Core.Model.ViewModels.UserInfoVM

<div class="layui-logo" style="width:300px"><img src="" width="48" />CloudBlog管理平台</div>

<ul class="layui-nav layui-layout-right">
    <li class="layui-nav-item">
        <a href="javascript:;">
            <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
            @Model.Name
        </a>
        @*<dl class="layui-nav-child">
            <dd>
            </dd>
            <dd><a href="#" onclick="ff.LoadPage('/home/frontpage'); return false;">返回首页</a></dd>
        </dl>*@
    </li>
    <li class="layui-nav-item"><a href="/Login/Logout">退出</a></li>
</ul>