
<blockquote class="layui-elem-quote quoteBox">
    <form class="layui-form">
        @Html.AntiForgeryToken()
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="itCode" placeholder="账号" />
            </div>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="name" placeholder="昵称" />
            </div>
            <a class="layui-btn search_btn" data-type="reload">搜索</a>
        </div>
        @*<div class="layui-inline">
                <a class="layui-btn layui-btn-normal addMenu_btn"><i class="layui-icon">&#xe61f;</i>添加菜单</a>
            </div>*@
        @*<div class="layui-inline">
                <a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn"><i class="layui-icon layui-icon-delete"></i>批量删除</a>
            </div>*@
    </form>
</blockquote>
<blockquote class="layui-elem-quote quoteBox">

    <table class="layui-hide" id="userList" lay-filter="user"></table>
</blockquote>

<script type="text/html" id="barDemo">
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}


    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

</script>
<script>

    //$.ajax({
    //    url: "/SystemUser/GetUserList", method: "GET", success: function (data) {
    //        console.log(11)
    //        console.log(data)
    //    }
    //});

    layui.use(['laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function () {
        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , carousel = layui.carousel //轮播
            , upload = layui.upload //上传
            , element = layui.element //元素操作
            , slider = layui.slider //滑块


        //执行一个 table 实例
        table.render({
            elem: '#userList'
            , height: 600
            , url: '/SystemUser/GetUserList' //数据接口
            , title: '用户列表'
            , page: true //开启分页
            , toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , cols: [[ //表头
                { type: 'checkbox', fixed: 'left' }
                , { field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left', totalRowText: '合计：' }
                , { field: 'itCode', title: '账号', width: 80 }
                , { field: 'name', title: '昵称', width: 90, sort: true, totalRow: true }
                , {
                    field: 'sex', title: '性别', width: 80, sort: true, templet: function (d) {
                        return 'ID：' + d.id + '，标题：<span style="color: #c00;">' + d.name + '</span>'
                    }
                }
                , { field: 'cellPhone', title: '手机', width: 80, sort: true, totalRow: true }
                , { field: 'isValid', title: '是否有效', width: 150 }
                , { fixed: 'right', width: 165, align: 'center', toolbar: '#barDemo' }
            ]]
        });

        //监听头工具栏事件
        table.on('toolbar(user)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id)
                , data = checkStatus.data; //获取选中的数据
            switch (obj.event) {
                case 'add':
                    layer.msg('添加');
                    break;
                case 'update':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else if (data.length > 1) {
                        layer.msg('只能同时编辑一个');
                    } else {
                        layer.alert('编辑 [id]：' + checkStatus.data[0].id);
                    }
                    break;
                case 'delete':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else {
                        layer.msg('删除');
                    }
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(user)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'detail') {
                layer.msg('查看操作');
            } else if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                });
            } else if (layEvent === 'edit') {
                layer.msg('编辑操作');
            }
        });

        // 搜索
        $(".search_btn").on("click", function () {
            var itCode = $("#itCode").val();
            var name = $("#name").val();
           
                table.reload("userList", {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    // 搜索关键字
                    where: {
                        itCode: itCode,
                        name: name
                    }
                });
        });
    });
</script>
