/*CSS初始化 开始*/
/*清除内外边距 开始*/
* {
    padding: 0;
    margin: 0;
}
/*清除内外边距 结束*/
/*取消列表的项目符号 开始*/
ul,
ol {/*并集选择器*/
    list-style: none;/*取消列表的项目符号*/
}
/*取消列表的项目符号 结束*/
/*双伪元素清除浮动 开始*/
.clearfix:before,
.clearfix:after {/*为了避免低版本浏览器出现BUG，所以把两个英文冒号【::】改为一个英文冒号【:】*/
    content: "";
    display: table;/*触发【BFC】防止外边距合并*/
}
.clearfix:after {/*为了避免低版本浏览器出现BUG，所以把两个英文冒号【::】改为一个英文冒号【:】*/
    clear: both;
}
.clearfix {
    *zoom: 1;/*【*】是代表IE6、IE7能识别的特殊符号，只有IE6、IE7能执行带【*】的属性，【zoom】是IE6、IE7清除浮动影响的方法*/
}
/*双伪元素清除浮动 结束*/
/*CSS初始化 结束*/